# gitignore file for the chronos-pdm project

# Obsidian
chronos-pdm-notes/.obsidian/
# templates
chronos-pdm-notes/templates/
# daily notes
chronos-pdm-notes/daily_notes/
# hf_course notes
chronos-pdm-notes/notes/hf_course/
# git_token.md
chronos-pdm-notes/notes/git_token.md
# Excalidraw
chronos-pdm-notes/Excalidraw
# Paper
chronos-pdm-notes/Paper

# Latex paper folder
SSM_PDM_Paper/
ssm_pdm_paper.zip

# wandb
wandb/

# Code inside experiments/transformers_tutorial
experiments/transformers_tutorial/

# pycache
__pycache__/

#ipynb checkpoints
.ipynb_checkpoints/

# js stuff created by MarkdownPreview
node_modules/
package-lock.json
package.json

# txt and xlsx files containing the acquisitions. Only txt.gz files will be pushed 
*.txt
*.xlsx
*.csv

# some file types files
*.pickle
*.pth
*.pdf
# file types generates by qmd files 
*.png
*.html
*.js
*.css
*.woff
*.zip
