# gitignore file for the chronos-pdm project

# Obsidian
Chronos_pdm_Notes/.obsidian/
# templates
Chronos_pdm_Notes/templates/
# daily notes
Chronos_pdm_Notes/daily_notes/

# pycache
__pycache__/

#ipynb checkpoints
.ipynb_checkpoints/

# js stuff created by MarkdownPreview
node_modules/
package-lock.json
package.json

# txt and xlsx files containing the acquisitions. Only txt.gz files will be pushed 
*.txt
*.xlsx
*.csv

# some file types files
*.pickle
*.pth
*.pdf
# file types generates by qmd files 
*.png
*.html
*.js
*.css
*.woff
